body {
  margin: 0;
  background-color: #2c2b3d;
  font-family: "Open Sans", sans-serif;
}

.page {
  width: 1100px;
  margin: 71px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

a {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 80px;
}

main h1 {
  color: #fff;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 36px;
  font-weight: bold;
  width: 614px;
}

span {
  color: #00bfa6;
}

p {
  color: #c2c2c2;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 28px;
}

footer line {
  width: 568.001px;
  height: 1px;
  border: 5px solid #00BFA6;
}

footer{
  color: white;
  margin-top: 195px;
  text-align: center;
}

